<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        {{#if user.image}}
        <img class="img-responsive center-block" src="{{user.image}}"
          style="width: 300px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;">
        {{else}}
        <img class="img-responsive center-block" src="https://fakeimg.pl/140/"
          style="width: 300px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;">
        {{/if}}
      </div>
      <div class="col-md-8">
        <h4>{{user.name}}</h4>
        <p>{{user.email}}</p>
        <p><strong>{{#if  CommentedRestaurants.length}}{{ CommentedRestaurants.length}}以評論餐廳{{else}}目前無任何評論過的餐廳{{/if}}</strong></p>
        <p><strong>{{#if
            user.FavoritedRestaurants.length}}{{user.FavoritedRestaurants.length}}以收藏餐廳{{else}}目前無任何收藏過的餐廳{{/if}}</strong>
        </p>
        <p><strong>{{#if
            user.Followings.length}}{{user.Followings.length}}followings(追蹤者){{else}}目前無任何followings(追蹤者){{/if}}</strong>
        </p>
        <p><strong>{{#if
            user.Followers.length}}{{user.Followers.length}}followers(追隨者){{else}}目前無任何followers(追隨者){{/if}}</strong>
        </p>
        {{#ifCond User.id user.id}}
        <a class="btn btn-primary" href="/users/{{../User.id}}/edit">edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card mt-4">
      <div class="card-header">{{#if
        user.Followings.length}}{{user.Followings.length}}followings(追蹤者){{else}}目前無任何followings(追蹤者){{/if}}</div>
      <div class="card-body">
        {{#each user.Followings}}
        <a href="/users/{{this.id}}">
          {{#if this.image}}
          <img src="{{this.image}}" width="100px" height="100px" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" />
          {{else}}
          <img src="https://fakeimg.pl/140/" width="100px" height="100px" />
          {{/if}}
        </a>
        {{/each}}
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">{{#if
        user.Followers.length}}{{user.Followers.length}}followers(追隨者){{else}}目前無任何followers(追隨者){{/if}}</div>
      <div class="card-body">
        {{#each user.Followers}}
        <a href="/users/{{this.id}}">
          {{#if this.image}}
          <img src="{{this.image}}" width="100px" height="100px" style="transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;" />
          {{else}}
          <img src="https://fakeimg.pl/140/" width="100px" height="100px" />
          {{/if}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card mt-4">
      <div class="card-header">{{#if  CommentedRestaurants.length}}{{ CommentedRestaurants.length}}以評論餐廳{{else}}目前無任何評論過的餐廳{{/if}}</div>
      <div class="card-body">
        {{#each  CommentedRestaurants}}
        <a href="/restaurants/{{this.id}}">
          <img class="img-responsive center-block me-3" src="{{this.image}}"
            style="width: 150px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
        </a>
        {{/each}}
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">{{#if
        user.FavoritedRestaurants.length}}{{user.FavoritedRestaurants.length}}以收藏餐廳{{else}}目前無任何收藏過的餐廳{{/if}}</div>
      <div class="card-body">
        {{#each user.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}">
          <img class="img-responsive center-block me-3" src="{{this.image}}"
            style="width: 150px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;"
            onload="this.style.opacity=1;">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>